
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>B3Bio Spark Command App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/jquery.ui.widget.js"></script>

<script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>

<script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>

<script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>

    <script>
    $(function() {
    $('#fileupload').fileupload({
        url: 'upload',
        dataType: 'json',
        add: function(e, data) {
            data.submit();
        },
        success: function(response, status) {
            	console.log(response.filename);
				var filePath = 'static/Uploads/' + response.filename;
				$('#imgUpload').attr('src',filePath);
				$('#filePath').val(filePath);
				console.log('success');
        },
        error: function(error) {
            console.log(error);
        }
    });
})
</script>

        <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	        <li role="presentation" class="active"><a href="/">Submit Command</a></li>
            <!--<li role="presentation" ><a href="/logout">Logout</a></li>-->
          </ul>
        </nav>
        <h3 class="text-muted">B3Bio App</h3>
      </div>
     <section>
      <form class="form-horizontal" method="post" action="/submitCommand">
<fieldset>

<!-- Form Name -->
<legend>Create Your Command</legend>

<!-- Text input-- >
<div class="form-group">
  <label class="col-md-4 control-label" for="txtTitle">Function</label>
  <div class="col-md-4">
  <input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Textarea -- >
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPost">Remote File Name</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="txtPost" name="inputDescription" ></textarea>
  </div>
</div>
 -->
              <!-- Text input-->
            <div class="form-group">
                <label for="txtTitle">Function</label>

                <input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder" class="form-control input-md">

            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label for="txtPost">Remote File Name</label>

                <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>

            </div>

            <div class="form-group">
                <label for="txtPost">Upload File</label>

                <div class="input-group">
                    <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                    </span>
                    </span>
                    <input type="text" class="form-control" readonly>
 <!--
                <div class="pull-right">
                      <img  id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input type="hidden" name="filePath" id="filePath"></input>
		          </div>
-->
                </div>

            </div>
<!--
  <div class="form-group">
                <label>Mark this as private and not visible to others.</label>
                <br/>
                <input type="checkbox"> Mark as Private <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
  </div>

  <div class="form-group">
                <label>Have you already accomplished this?</label>
                <br/>
                <input type="checkbox"> Mark as Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </div>
-->
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
  </div>
</div>

</fieldset>
</form>
      
</section>
      <footer class="footer">
        <p>&copy; B3Lab 2017</p>
      </footer>

    </div>
  </body>
</html>

